body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:rgb(230, 220, 230);
    margin: 0;
    top: 0;
    height: 80px;
    
}
header h1 {
    margin: 0px;
    padding-top: 20px;
    text-align:center;
    color: rgb(121, 54, 121);
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(121, 54, 121);
}
nav a {
    display: block;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    color:rgb(212, 203, 189);
    font-size: 20px;
}
nav a:visited {
    background: rgb(121, 54, 121);
    color: rgb(221, 178, 107);
    
}
nav a:hover {
    color:purple;
    background-color: beige;
}

nav a.active, nav a.active:visited {
    background-color: beige;
    color: rgb(121, 54, 121);
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cardfig {
    width: 100%;
}
.card {
    background-color: beige;
    margin: 5px;
    border-radius: 3px;
    margin-top: 20px;
}
.card h2, .card h3 {
    background-color: rgb(230, 220, 230);
    width: 70%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}


figure img {
    display: flex;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0 5px 10px rgba(25, 25, 25, 2);
    border-radius: 4px;
    margin: auto;
}
img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
}

.data {
    border: 1px solid black;
    margin: 0;
    margin-top: 10px;
}

table thead {
    background-color: rgb(230, 220, 230);
}
table tbody {
    background-color: beige;
}

fieldset {
    max-width: 300px;
}

legend {
    color:rgb(212, 203, 189);
    background-color: rgb(121, 54, 121);
    font-size: 20px;
}

.formstyle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formstyle input, textarea {
    background-color: rgb(230, 220, 230);
}

.formstyle label, input {
    margin: 5px;
}

.formstyle textarea {
    width: 200px;
}

.formcard {
    margin: 5px;
    background-color: beige;
    border-radius: 5px;
    border: thin solid black;
    padding: 5px;
}

table {
    padd
}



  input[type="submit"] {
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

@media ONLY screen AND (max-width: 600px) {
    nav {
        flex-direction: column;
        min-width: 200px;
        align-items: center;
    }
    nav a {
        text-align: center;
        width: 40%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    figure {
        width: 0 auto;
    }

    .card {
        margin: 10px;
        max-width: 300px;
    }

    fieldset {
        margin: auto;
    }

    .formstyle {
        align-items: center;
    }

    input[type="submit"] {
        width: 100px;
        height: 50px;
        font-size: 20px;
    }


}